

  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2 mt-2">
        <div class="test">商品新規登録</div>
      </div>
      <div class="col-9"></div>
    </div>
    <%= form_with model:@item,url:'/admin/items',local:true do |f| %>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-1">
        <%= f.label :image,'商品画像' %>
      </div>
      <div class="col-8">
        <%= f.attachment_field:image %>
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-1 mt-2">
        <%= f.label :name,'商品名' %>
      </div>
      <div class="col-8 mt-2">
        <%= f.text_field:name %>
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-1 mt-2">
        <%= f.label :introduction,'商品説明' %>
      </div>
      <div class="col-8 mt-2">
        <%= f.text_area:introduction %>
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-1 mt-2">
        <%= f.label :genre,'ジャンル' %>
      </div>
      <div class="col-8 mt-2">
        <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %>
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-1 mt-2">
        <%= f.label :price,'税抜価格' %>
      </div>
      <div class="col-8 mt-2">
        <%= f.text_field:price %><a>円</a>
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-9 mt-2">
        <%= f.label:is_active,'販売ステータス' %>
        <%= f.radio_button:is_active, true %>
        <%= f.label:is_active,'販売中',value:true %>
        <%= f.radio_button:is_active, false %>
        <%= f.label:is_active,'販売停止中',value:false %>
      </div>
    </div>
    <div class="row">
      <div class="col-5"></div>
      <div class="col-7">
        <%= f.submit"新規登録",class:'btn btn-success' %>
      </div>
    </div>
    <% end %>
  </div>




