<div class="box2">
  <div class="box3">
    <div class="test">管理者ログイン</div>
      <table>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <tr>
          <div class="field">
          <td><%= f.label :メールアドレス %></td>
          <td><span style="margin-right:2em;"></span><%= f.email_field :email,:size=>"50", autofocus: true, autocomplete: "email" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td><%= f.label :パスワード %></td>
            <td><span style="margin-right:2em;"></span><%= f.password_field :password,:size=>"50",autocomplete: "current-password" %></td>
          </diV>
        </tr>
        <tr>
          <div class="actions">
            <td></td><td height="80"><span style="margin-right:2em;"></span><%= f.submit "ログイン",class:'btn btn-sm btn-primary' %></td>
          </div>
        </tr>
        <% end %>
      </table>
    <%= render "admin/shared/links" %>
  </div>
</div>
