<div class="box2">
  <div class="box3">
    <div class="test"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</div>
    <%= form_with model:@customer,url:admin_customer_path,method: :patch, local:true do |f| %>
    <table cellpadding="5px">
      <tr>
        <td>会員ID</td>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <td><%= f.label :image,'氏名' %></td>
        <td>
          <%= f.text_field:last_name %><span style="margin-right: 20px;"></span><%= f.text_field:first_name %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :image,'フリガナ' %></td>
        <td>
          <%= f.text_field:last_name_kana %><span style="margin-right: 20px;"></span><%= f.text_field:first_name_kana %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :image,'郵便番号' %></td>
        <td><%= f.text_field:postal_code %></td>
      </tr>
      <tr>
        <td><%= f.label :image,'住所' %></td>
        <td><%= f.text_field:address, :size=>"60" %></td>
      </tr>
      <tr>
        <td><%= f.label :image,'電話番号' %></td>
        <td><%= f.text_field:telephone_number %></td>
      </tr>
      <tr>
        <td><%= f.label :image,'メールアドレス' %></td>
        <td><%= f.text_field:email %></td>
      </tr>
      <tr>
        <td><%= f.label:is_active,'会員ステータス' %></td>
        <td>
          <%= f.radio_button:is_active, false %>
          <%= f.label:is_active,'有効',value:false %>
          <%= f.radio_button:is_active, true %>
          <%= f.label:is_active,'退会',value:true %>
        </td>
      </tr>
    </table>
    <%= f.submit"変更を保存",class:'btn btn-success' %>
    <% end %>
  </div>
</div>