<div class="box2">
  <div class="box3">
    <div class="test"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</div>
    <table cellpadding="5px">
      <tr>
        <td>会員ID</td>
        <td><span style="margin-right: 80px;"></span><%= @customer.id %></td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><span style="margin-right: 80px;"></span><%= @customer.last_name %><span style="margin-right: 10px;"></span><%= @customer.first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><span style="margin-right: 80px;"></span><%= @customer.last_name_kana%><span style="margin-right: 10px;"></span><%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><span style="margin-right: 80px;"></span><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><span style="margin-right: 80px;"></span><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><span style="margin-right: 80px;"></span><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><span style="margin-right: 80px;"></span><%= @customer.email %></td>
      </tr>
      <tr>
        <td>会員ステータス</td>
        <% if @customer.is_active == true %>
        <td><div class="test5"><span style="margin-right: 80px;"></span>退会</div></td>
        <% else %>
        <td><div class="test3"><span style="margin-right: 80px;"></span>有効</div></td>
        <% end %>
      </tr>
    </table>
    <%= link_to"編集する",edit_admin_customer_path(@customer), class:"btn btn-sm btn-success" %>
    <span style="margin-right: 80px;"></span>
    <%= link_to"注文履歴一覧を見る",admin_path, class:"btn btn-sm btn-primary" %>
  </div>
</div>
