<div class="box2">
  <div class="box3">
    <div class="test">ジャンル一覧・追加</div>
    <%= form_with model:@genre,url:'/admin/genres',local:true do |f| %>
      <%= f.label :name,'ジャンル名' %>
      <%= f.text_field:name %>
      <%= f.submit"新規登録",class:'btn btn-success' %>
    <% end %>
    <table class="table">
      <thead class="table-light">
        <tr>
          <th>ジャンル</th>
        </tr>
      </thead>
      <% @genres.each do |genre| %>
      <tbody>
        <tr>
          <td><%= genre.name %></td>
          <td>
            <%= link_to"編集する",edit_admin_genre_path(genre.id), class:"btn btn-sm btn-success" %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>