<div class="box2">
  <div class="box3">
    <h4>配送先編集</h4>
    <%= form_with model:@address,url:update_addresses_path(@address), local:true do |f| %>
      <%= f.label :image,'郵便番号(ハイフンなし)' %>
      <%= f.text_field:postal_code %><br>
      <%= f.label :image,'住所' %>
      <%= f.text_field:address, :size=>"50" %><br>
      <%= f.label :image,'宛名' %>
      <%= f.text_field:name %>
      <%= f.submit"変更内容を保存",class:'btn btn-success' %>
    <% end %>
  </div>
</div>