<div class="box2">
  <div class="box3">
    <h4>配送先登録/一覧</h4>
    <%= form_with model:@address,url:addresses_path,method: :post, local:true do |f| %>
      <%= f.label :image,'郵便番号(ハイフンなし)' %>
      <%= f.text_field:postal_code %><br>
      <%= f.label :image,'住所' %>
      <%= f.text_field:address, :size=>"60" %><br>
      <%= f.label :image,'宛名' %>
      <%= f.text_field:name %>
      <%= f.submit"新規登録",class:'btn btn-success' %>
    <% end %>
    <table border="1" width="100%" cellpadding="10">
      <thead>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </thead>
      <% @addresses.each do |address| %>
      <tbody>
        <tr>
          <td><%=address.postal_code %></td>
          <td><%=address.address %></td>
          <td><%=address.name %></td>
          <td><%= link_to"編集する",edit_addresses_path(address),class:"btn btn-sm btn-success" %>
          <%= link_to"削除する",destroy_addresses_path(address), method: :delete,class:"btn btn-sm btn-danger" %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>