<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10">

      <h4>ログイン</h4>
      <P>会員の方はこちらからログイン</P>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
      <div class="col-9">
        <%= form_with model: @customer, url: customer_session_path, method: :post, local: true do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table>

        
        <tr>
          <div class="field">
            <td><%= f.label :メールアドレス %></td>
            <td><span style="margin-right:2em;"></span><%= f.email_field :email, :size=>"50", autofocus: true, autocomplete: "email" %></td>
          </div>
        </tr>
        <tr>
          <div class="field">
            <td><%= f.label :パスワード %></td>
            <td><span style="margin-right:2em;"></span><%= f.password_field :password, :size=>"50", autocomplete: "current-password" %></td>
          </div>
        </tr>

        <tr>
          <div class="actions">
            <td></td><td><span style="margin-right:2em;"></span><%= f.submit"ログイン",class:'btn btn-sm btn-primary' %></td>
          </div>
        </tr>
        
        </table>
        <% end %>
      </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
      <div class="col-10">
        <font size="4">会員登録がお済みでない方</font><br/>
      </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
      <div class="col-9">
      <%= render "public/shared/links" %><font>から新規登録を行ってください。</font>
      </div>
  </div>
</div>
