<div class="box2">
  <div class="box3">
    <%= attachment_image_tag @item, :image, format: 'jpeg', size:"300x200" %>
    <table>
      <tr>
        <td><font size="6"><%=@item.name %></font></td>
      </tr>
      <tr>
        <td><font size="5"><%=@item.introduction %></font></td>
      </tr>
      <tr>
        <td><font size="5">¥<% included = @item.price*1.1 %><%= included.round %>(税込)</font></td>
      </tr>
    </table>
    <%= form_with model:@cart_item,url:cart_items_path, method: :post, local:true do |f| %>
      <%= f.select :amount, *[1..10], {include_blank:'個数選択'} %>
      <%= f.hidden_field :customer_id, value: current_customer %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <span style="margin-right: 32px;"></span><%= f.submit"カートに入れる", class:"btn btn-sm btn-success" %>
    <% end %>
  </div>
</div>




